body { 
    background-color: #EAF4F9; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 { 
    margin: 0;
}

a, h6 { 
    margin: 0;
    color: #C8C4C2;
    text-decoration: none;
}

p { 
    margin: 5px;
    padding-bottom: 15px;
    color: #C8C4C2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

form { 
    background-color: white;
    display: flex; 
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 250px;
    padding: 35px;
    box-shadow: 3px 3px 10px #C8C4C2;
}

input { 
    border: none;
    border-bottom: 1px solid #C8C4C2;
    margin-bottom: 35px;
    width: 100%;
}

.button { 
    background-color: #3598DB;
    color: white;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    cursor: pointer;
}

.forgot { 
    transform: translate(40%, -380%);
}
